{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Crud</title>
</head>
<body>
    <h1>lista de usuarios</h1>

    <button type="button">
        <a href="{% url 'regis_usuario' %}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>

    <table>
        {% if usuarios %}
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido P</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.rut}}</td>
                    <td>{{usuario.nombre.nombre}}</td>
                    <td>{{usuario.apellido_paterno}}</td>
                    <td><a href="{% url 'usuarios_del' pk=usuario.rut %}">Eliminar</a></td>
                    <td><a href="{% url 'usuarios_findEdit' pk=usuario.rut %}">Modificar</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#idMensajes").delay(2000).fadeOut("slow");
    });
</script>

</body>
</html>